<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sudokuhijaiyah"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <application
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name=".splash"
            android:label=""
            android:screenOrientation="landscape" 
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape" 
            >
            <intent-filter>
                <action android:name="com.hijaiyah.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pilihLevel"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"  
            >
            <intent-filter>
                <action android:name="com.hijaiyah.PILIHLEVEL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".puzzle"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"  
            >
            <intent-filter>
                <action android:name="com.hijaiyah.PUZZLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pilihHuruf"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"  
            >
            <intent-filter>
                <action android:name="com.hijaiyah.PILIHHURUF" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".help"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"  
            >
            <intent-filter>
                <action android:name="com.hijaiyah.HELP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>